# MaxScale config document

[maxscale]
threads={{ maxscale_threads }}
syslog=0
maxlog=1
log_to_shm=1
log_warning=1
log_notice={{ maxscale_log_notice }}
log_info={{ maxscale_log_info }}
log_debug={{ maxscale_log_debug }}

[qla]
type=filter
module=qlafilter
filebase=/tmp/SqlQueryLog

[fetch]
type=filter
module=regexfilter
match=fetch
replace=select

# --------------------------------------------------------------------------
# Monitors
# --------------------------------------------------------------------------
[Galera Monitor]
type=monitor
module=galeramon
servers="{% for node in galera_cluster_nodes %}{{ node }}{% if not loop.last %},{% endif %}{% endfor %}"
user={{ maxscale_user }}
passwd={{ maxscale_root_pw }}
monitor_interval=2000
disable_master_failback=1
available_when_donor=1

# --------------------------------------------------------------------------
# Router
# --------------------------------------------------------------------------
[RW Split Router]
type=service
router=readwritesplit
servers="{% for node in galera_cluster_nodes %}{{ node }}{% if not loop.last %},{% endif %}{% endfor %}"
user={{ maxscale_user }}
passwd={{ maxscale_root_pw }}
max_slave_conntections=100%
max_slave_replication_lag=30

# --------------------------------------------------------------------------
# Listener
# --------------------------------------------------------------------------
[RW Split Listener]
type=listener
service=RW Split Router
protocol=MySQLClient
port=3306

# --------------------------------------------------------------------------
# Servers
# --------------------------------------------------------------------------
{% for iterator in 0..galera_loop_count %}
[ "{{ galera_nodes[{{ iterator }}] }}" ]
type=server
address="{{ galera_ip_addr[{{ iterator }}] }}"
port="{{ port | default('3306') }}"
protocol=MySQLBackend

{% endfor %}

